src/main/resources/artistsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="artists">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="artist" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="first_name"/>
                            <xs:element type="xs:string" name="last_name"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:string" name="username"/>
                            <xs:element type="xs:string" name="phone_number"/>
                            <xs:element type="xs:byte" name="studio_id"/>
                            <xs:element type="xs:string" name="studio_address"/>
                            <xs:element type="xs:string" name="city"/>
                            <xs:element type="xs:string" name="studio_name"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>