src/main/resources/userSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="first_name"/>
                <xs:element type="xs:string" name="last_name"/>
                <xs:element type="xs:string" name="email"/>
                <xs:element type="xs:string" name="password"/>
                <xs:element type="xs:string" name="phone_number"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>